.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if there's not enough space */
    justify-content: space-between; /* Space items nicely */
    padding: 20px;
  }
  .taxCalculation .leftLabels, .taxCalculation .rightLabels {
    display: flex;
    border: 2px solid #ccc;
    flex-direction: column; /* Stacks the label-input pairs vertically */
    padding: 10px; /* Adjust spacing as needed */
  }

  .labelInputPair {
    display: flex; /* Aligns the label and input side by side */
    align-items: center; /* Centers them vertically */
    margin-bottom: 10px; /* Space between each label-input pair */
  }
  
  label {
    margin-right: 10px; /* Space between the label and the input */
  }
/* 
  .taxCalculation, .notesInput {

    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  
    max-width: 45%; 
  }
   */